[runner]
debug = True
generations_number = 1000
output_mode = graphic
#output_mode = console
#output_mode = json

[population]
#type = SimplePopulation
type = TspPopulation
size = 100
expansion_factor = 5

[individual]
class = gt.examples.tsp.TSP
mutation_probability = 10

# type a: route 2 -> 0 -> 1 is chromosome [2,0,1]
# type b: route 2 -> 0 -> 1 is chromosome [(2,0),(0,1),(1,2)]. each tuple is (city, order) and list is sorted by order.
chromosome_type = b

[problem]
data_file = gt/examples/cities_wsahara.json
#data_file = gt/examples/cities_djibouti.json
#data_file = gt/examples/cities280.json
#data_file = gt/examples/cities.json