[runner]
debug = True
generations_number = 100
graphic_output = True

[population]
type = SimplePopulation
size = 100
expansion_factor = 5

[individual]
class = gt.examples.tsp.TSP
mutation_probability = 1000

# type a: route 2 -> 0 -> 1 is chromosome [2,0,1]
# type b: route 2 -> 0 -> 1 is chromosome [(2,0),(0,1),(1,2)]. each tuple is (city, order) and list is sorted by order.
chromosome_type = b

[problem]
data_file = cities.json