[runner]
debug = True
generations_number = 1000
#output_mode = graphic
output_mode = console
#output_mode = json
config_mode = object

[population]
type = SimplePopulation
#type = TspPopulation
size = 100
expansion_factor = 5
expansion_type = unified
#expansion_type = weighted
#expansion_type = different
evolution_type = progressive

[individual]
class = gt.examples.tsp_evolve.TSPEvolve
mutation_probability = 2
dynamic_mutation = False
dynamic_mutation_inheritance = False
smart_crossover = False
#evolution_type = simple
evolution_type = progressive
generations_evolution_step = 10
evolution_start = 0

# type a: route 2 -> 0 -> 1 is chromosome [2,0,1]
# type b: route 2 -> 0 -> 1 is chromosome [(2,0),(0,1),(1,2)]. each tuple is (city, order) and list is sorted by order.
chromosome_type = a

[problem]
#data_file = gt/examples/cities_wsahara.json
#order_file = gt/examples/aorder_wsahara_10.json
#order_file = gt/examples/order_wsahara.json

#data_file = gt/examples/cities_djibouti.json
#data_file = gt/examples/cities280.json
#order_file = gt/examples/aorder_280.json
#order_file = gt/examples/order_280.json

#data_file = gt/examples/vlsi131.json
#order_file = gt/examples/aorder_vlsi131.json

data_file = gt/examples/cities_qatar.json
order_file = gt/examples/aorder_qatar.json